


span{
    margin-top: 10px;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 100%;
    max-width: 350px;
    background: #fff;
    padding: 20px;
    border: 1px solid #dbdbdb;
    border-radius: 8px;
    text-align: center;
  }
  
  h3{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h1 {
    font-family: 'Billabong', cursive;
    font-size: 3rem;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background: #fafafa;
  }
  
  form button {
    width: 100%;
    padding: 10px;
    background: #0095f6;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  form button:hover {
    background: #007bbf;
  }
  
  .divider {
    margin: 20px 0;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #8e8e8e;
  }
  
  .divider::before, .divider::after {
    content: '';
    flex: 1;
    height: 1px;
    background: #dbdbdb;
    margin: 0 10px;
  }
  
  .fb-login {
    background: none;
    color: #385185;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  .fb-login:hover {
    text-decoration: underline;
  }
  
  .forgot-password {
    display: block;
    margin-top: 10px;
    color: #00376b;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  .signup-box {
    margin-top: 20px;
  }
  
  .signup-box a {
    color: #0095f6;
    text-decoration: none;
  }
  
  .signup-box a:hover {
    text-decoration: underline;
  }
  